body {
    padding-bottom: 40px;
    background-color: #eee;
  }
  
  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
 
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  
  
  .img-logo{
    width: 20rem;
    margin-left: calc(50% - 10rem);
  }

  .img-logo-inicio{
    width: 20rem;
  }

a{
  color: #693668
}

a:hover{
  text-decoration: none;
  color: #8282FB
}


.form-sigin-link {
  font-size: 1.3rem;
  display: block;
}


.btn-primary{
  color:#fff;
  background-color:#693668;
  border-color:#A253A0
}
.btn-primary:hover{
  color:#fff;
  background-color:#8282FB;
  border-color:#9c9cfd
}
.btn-primary.focus,.btn-primary:focus{
  color:#fff;background-color:#A253A0;
  border-color:#B36BB0;
  box-shadow:0 0 0 .2rem rgba(38,143,255,.5)
}
.btn-primary.disabled,.btn-primary:disabled{
  color:#fff;
  background-color:#B36BB0;
  border-color:#d67fd3
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle
{
  color:#fff;
  background-color:#693668;
  border-color:#693668
}
  .btn-primary:not(:disabled):not(.disabled).active:focus,
  .btn-primary:not(:disabled):not(.disabled):active:focus,
  .show>.btn-primary.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem rgba(38,143,255,.5)
  }